<div class="container mt-5">
  <h2>Item Details</h2>
  <form method="post" action="/admin/products/create">
    <!-- Type Input -->
    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" class="form-control" id="type" name="type" placeholder="Enter Type">
    </div>

    <!-- Name Input -->
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title">
    </div>

    <!-- Description Input -->
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter Description"></textarea>
    </div>

    <!-- Price Input -->
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" name="price" placeholder="Enter Price">
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
